//General settings to all app

body {
  background: var(--light);
  background: linear-gradient(
    50deg,
    var(--light) 0%,
    var(--secondary-subtle) 100%
  );
  min-height: 100vh;
}

//Limiting line-length for readability
.line-length {
  max-width: 65ch !important;
}

.card {
  text-align: left;
}

p {
  //editing link underline offset for readability
  a {
    text-decoration: underline;
    text-underline-offset: 0.3rem;

    &:hover {
      color: var(--secondary);
    }
  }
}

form {
  label {
    font-weight: 600;
    margin-top: 0.8rem;
  }
}
