.navbar {
  .btn {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .nav-link {
    color: var(--light);
    margin-right: 2rem;
    font-size: 1.2rem;
    font-weight: 500;

    &:focus-visible {
      outline: var(--light) solid 2px;
      color: var(--light);
    }

    &:not(.active):hover {
      color: var(--warning);
      text-decoration: underline;
      text-underline-offset: 0.5rem;
    }

    &.active {
      &::before {
        content: "➤ ";
      }
    }
  }

  .dropdown-item {
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
    &:hover {
      background-color: var(--secondary);
    }
    &.active {
      background-color: transparent;
      &::before {
        content: "➤ ";
      }
    }
    
  }

  .navbar-toggler {
    color: var(--light);
    &:hover {
      border-color: var(--light);
    }
  }
}
@media (max-width: 992px) {
  .navbar {
    .nav-link {
      margin-bottom: 2rem;
    }
    .navbar-collapse {
      padding-top: 2rem;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    .navbar-brand {
      width: 200px;
    }
    .dropdown-toggle {
      margin-bottom: 1rem !important;
    }
  }
}
